*
{
  margin: 0;
  padding: 0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*section-headin(common for all section)*/
.section-padding{
  padding-top: 105px;
  padding-bottom: 65px;
}
.section-heading{
  text-align: center;
}
.section-heading h2{
  color: #000;
  border-bottom: 3px solid #f3d111;
  max-width: 200px;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size:36px;
}
/*nopadding*/
.nopadding{
  margin: 0;
  padding: 0;
}
/*navbar*/
#header.scrolling{
  background: rgba(255,255,255, 0.9);
  border-bottom: 2px solid #ffaa10;
  transition: .5s;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.logo{
  margin-top: 40px;
}
.navbar-nav > li > a{
  padding-top: 65px;
  text-transform: uppercase;
  padding-right: 70px;
  font-style: italic;
}
.navbar-default .navbar-nav > li > a:focus{
  color: #000;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a:hover {
  color: #3aa9a2;
}
.search-icon i{
  position: absolute;
  right: 0;
  top: 69px;
}
/*slider*/
.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 0px;
    top: 387px;
    left: 14%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #5d5f5f;
    text-align: left;
    text-shadow: none;
}
.carousel-caption h2{
  color: #f3d111;
  font-size: 72px;
  margin-bottom: 50px;
  font-style: italic;
  font-family: "open sans sarif", sans-serif;
}
.carousel-caption p{
  max-width: 510px;
  font-size: 17px;
  font-family: "Times new roman", sans-serif;
  margin-bottom: 50px;
}
.carousel-caption .btn{
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 3px solid #f3d111;
    border-radius: 0px;
    background: transparent;
    color: #f3d111;
    transition: 0.5s;
}
.carousel-caption .btn:hover{
  background: #f3d111;
  color: #fff;
  border-color: transparent;
}
#padding-button{
  margin-left: 24px;
}
.carousel-control{
  font-size: 24px;
  text-shadow: none;
  opacity: 0;
  color: #5a5a5a;
  top: 444px;
  transition: 0.5s;
}
.carousel-control.right,
.carousel-control.left{
  background-image: none;
}
.carousel-control.right i{
  position: absolute;
  right: 15px;
}
.carousel-control.left i{
  position: absolute;
  left: 15px;
}
.carousel-control:focus,
.carousel-control:hover{
  background-image: none;
  color: #f3d111;
}
.slider:hover .carousel-control{
  opacity: 1;
}
/*skill*/
.skill{
  background: #fdfdfd;
}
.skill-content{
  margin-bottom: 75px;
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: none;
}
.panel-default > .panel-heading {
    color: #898989;
    background-color: transparent;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    font-family: "Times New Roman", sans-serif;
}
.panel-title a{
  display: block;
  padding-left: 20px;
  transition: .5s;
}
.panel-title i{
  position: absolute;
}
.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}
.panel-title a:focus,
.panel-title a:hover{
    text-decoration: none;
}
.panel-title:hover a,
.panel-title:hover i{
  color: #d9534f;
}
.panel-title a:after{
  content: "\f067";
  font: 10px fontAwesome;
}
.panel-title a:after{
  content: "\f068";
  font: 10px fontAwesome;
  float: right;
}
.panel-title a.collapsed:after{
  content: "\f067";
  font: 10px fontAwesome;
  float: right;
}
.panel-body{
  color: #5d5d5d;
  font-family: "Times New Roman", sans-serif;
}
.skill-image img{
  width: 100%;
}
.skill-single h3 {
    text-transform: uppercase;
    font-size: 10px;
    color: #282828;
    margin-top: 30px;
}
.progress-bar{
  font-size: 10px;
  color: #000;
}
.progress {
    height: 20px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
}
/*about us**/
.about-image img{
  width: 100%;
  height: 362px;
}
.about-text{
  background: #f9f9f9;
  padding: 28px 0;
}
.about-text h3{
  font-family: "Raleway", sans-serif;
  margin-bottom: 55px;
}
.about-text p{
  font-family: "Times New Roman", sans-serif;
  color: #404040;
  font-size: 17px;
  max-width: 678px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.about-text .btn{
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 3px solid #f3d111;
    border-radius: 0px;
    background: #f3d111;
    color: #fff;
    transition: 0.5s;
}
.about-text .btn:hover{
  border-color: transparent;
}
/*team*/
.team{
  background: #edecec;
  padding-bottom: 120px;
}
.section-heading p{
  max-width: 665px;
  margin: 0 auto;
  font-size: 17px;
  font-family: "Times New Roman", sans-serif;
  color: #909090;
  margin-top: 30px;
}
.team-single{
  position: relative;
}
.team-single img{
  width: 100%;
}
.team-overlay{
  position: absolute;
  background: rgba(105, 185, 180, .75);
  top: 80px;
  left: 20px;
  padding: 70px 42px 56px 30px;
  opacity: 0;
}
.team-single h2 {
    position: absolute;
    bottom: 13px;
    font-size: 20px;
    font-weight: 700;
    left: 20px;
    background: rgba(237, 210, 57, .8);
    padding: 10px 41px 10px 45px;
}
.team-overlay h3{
  font-size: 20px;
}
.team-single i{
  color: #3f8e8a;
  background: #fff;
  padding: 3px 6px;
  margin-left: 5px;
  margin-top: 10px;
}
.team-txt:hover .team-single h2{
  transform: translateY(-220px);
}
.team-txt:hover .team-overlay{
  opacity: 1;
}
.team-single h2,
.team-overlay{
  transition: 0.7s;
}
/*Projects*/
.counter-content span {
    font-size: 60px;
    color: #f3d111;
    font-weight: 700;
    text-align: center;
}
.counter-content h4{
  font-size: 24px;
  font-family: "Times New Roman", sans-serif;
  color: #000;
  margin-bottom: 100px;
}
/*Gallery*/
.gallery{
  background: #f5f5f5;
}
.gallery-content{
  margin-bottom: 120px;
}
.isotope-filters {
	display: table;
	margin: 0px  auto;
  margin-bottom: 55px;
}
.isotope-filters  button {
  background: transparent;
  border: none;
	margin: 2px;
	line-height: 30px;
	padding: 0 20px;
	cursor: pointer;
  transition: .5s;
}
.isotope-filters  button.active,
.isotope-filters  button:hover {
	outline: none;
	outline-style: none;
	outline-offset:0;
  background: #f3d110;
  color: #fff;
}

/* ---- .item ---- */
.item {
	float: left;
  border: 12px solid #f5f5f5;
}
.item img{
  width: 100%;
  transition: 0.5s;
}
.isotope .item{
  position: relative;
  overflow: hidden;
}
.isotope-overlay{
  position: absolute;
  background: rgba(243,209,16,0.5);
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  transition: 0.5s;
}
.isotope .item:hover .isotope-overlay{
  top: 0;
}
.isotope .item:hover img{
  transform: scale(1.1);
}
.istope-content{
  text-align: center;
  margin: auto;
}
.isotope-content-p1 h3{
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
  max-width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 40%;
}
.isotope-content-p1 i{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 18px;
  position: absolute;
  top: 60%;
  left: 50%;
}
.isotope-content-p2 h3{
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
  max-width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 35%;
}
.isotope-content-p2 i{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 18px;
  position: absolute;
  top: 60%;
  left: 45%;
}
.isotope-content-p6 h3{
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
  max-width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 44%;
}
.isotope-content-p6 i{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 18px;
  position: absolute;
  top: 60%;
  left: 49%;
}
.isotope-content-p7 h3{
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
  max-width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 40%;
}
.isotope-content-p7 i{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 18px;
  position: absolute;
  top: 60%;
  left: 45%;
}
